/*------------------------------------------------------------------
[Master Stylesheet]
Project:    Politics Responsive Html Template
Version:    1.0
Last change:    0/0/18
Author Name:
-------------------------------------------------------------------*/


/*         css Index
	------------------------
	1. .header_top
	2. .header
	3. .campaing_area
	4. .about_area
	5. .statistics_area
	6. .Lates_compaign
	7. .Information_area
	8. .Donation_area
	9. .purchase_area
	9. .Conference_area
	9. .Graphics_area
	9. .Newsletter_area
	9. .footer_area
	9. .footer_bottom
 */


/*=======================================================================
                                Google Fonts
=========================================================================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700');

/*=======================================================================
                               Default Style
=========================================================================*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    font-size: 16px;
}

figure {
    margin: 0;
    padding: 0;
}

.p-100 {
    padding: 100px 0px !important;
}

p {
    color: #4d6076;
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 0;
    -webkit-transition: .5s;
    transition: .5s;
}

a {
    color: #ffffff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

a:hover {
    text-decoration: none;
}

.button {
    color: #fff;
    background-color: #d3383e;
    padding: 20px 40px;
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: inline-block;
}

.button:hover {
    color: #ffffff;
    background: #b93c41;
}


/*=======================================================================
                               Header_Top Style
=========================================================================*/

.item {
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
    /* height: 100vh; */
}

.owl-theme .owl-dots .owl-dot span {
    width: 200px;
    height: 2px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    border-radius: 30px;
    position: relative;
}

span::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: transparent;
    right: -14px;
    top: -10px;
    bottom: 0;
    border-radius: 100%;
    border: 1px solid red;
}

span::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: transparent;
    right: -9px;
    top: -5px;
    bottom: 0;
    border-radius: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border: 1px solid red;
}

.owl-nav {
    display: none;
}

.owl-dot.active span::after {
    background: red;
}

.owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
}